doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/Preview.css')


  body
    a(href="http://localhost:3000")
      h1 /CalBoard/ - Simple Image Discussion
    center
        br
        input(id="previewCheck" type="checkbox")
        label Toggle hover previews
    block content
    block footer
  script(src = "/javascripts/previews.js")