doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 /CalChan/ - CAL NEETS 5 EVER
    center
        img(src="http://i.imgur.com/XlyLvRP.jpg", width="400")
    block content